<section id="cards">
    <div cg-busy="vm.cardRequest"></div>
    <div ng-hide="vm.cards.length == 0" class="fx-fade-normal">
        <div class="panel panel-default">
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <input id="inputSearch" type="text" class="form-control" placeholder="Search text" ng-model="vm.searchText">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="vm.searchScopeName">
                                Name
                            </label>
                            &nbsp;
                            <label>
                                <input type="checkbox" ng-model="vm.searchScopeText">
                                Text
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div id="cbColors" class="checkbox">
                            <span ng-repeat="col in vm.searchColors">
                                <label>
                                    <input type="checkbox" checked ng-model="col.checked" />
                                    <img ng-if="col.code" ng-src="{{vm.imageApiUrl}}?size=medium&name={{col.code}}&type=symbol" tooltip="{{col.color}}" />
                                    <img ng-if="col.customCode" ng-src="/app/images/{{col.customCode}}.png" width="25" tooltip="{{col.color}}" />
                                </label>
                                &nbsp;
                            </span>
                            <span>
                                <label>
                                    <input type="checkbox" checked ng-model="vm.exactColorMatch" />
                                    Exact match
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="form-group" ng-repeat="value in vm.filters">
                        <button type="button" class="btn btn-{{value.isActive ? 'info' : 'default'}} btn-xs" ng-click="value.isCollapsed = !value.isCollapsed"
                                popover="{{value.isActive ? value.selected : ''}}" popover-trigger="mouseenter" popover-placement="right" popover-title="Selected:">
                            {{value.name}}s <span class="glyphicon glyphicon-collapse-{{value.isCollapsed ? 'down' : 'up'}}"></span>
                        </button>
                        <div collapse="value.isCollapsed">
                            <div class="well">
                                <button type="button" class="btn btn-default btn-xs" ng-click="vm.selectAll(value.data, true); vm.filterDataChanged(value);">Select All</button>
                                <button type="button" class="btn btn-default btn-xs" ng-click="vm.selectAll(value.data, false); vm.filterDataChanged(value);">Unselect All</button>
                                <div id="cbTypes" class="checkbox">
                                    <span ng-repeat="cb in value.data">
                                        <label>
                                            <input type="checkbox" checked ng-model="cb.checked" ng-change="vm.filterDataChanged(value)" />
                                            <span style="{{cb.checked ? 'font-weight: bold' : ''}}">{{cb.name}}</span>
                                        </label>
                                        &nbsp;&nbsp;
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="vm.showImages">
                                Show images
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm" ng-click="vm.searchClicked()">Search</button>
                </form>
            </div>
        </div>
        <div class="panel panel-info fx-fade-normal" ng-if="vm.filteredCards" id="{{vm.cardsPanelId}}">
            <div class="panel-heading">
                Results
            </div>
            <div class="panel-body">
                <div ng-hide="vm.filteredCards.length > 0">
                    <div class="well">No cards found for '{{vm.filterText}}'</div>
                </div>
                <div id="tableWrapper" ng-hide="vm.filteredCards.length == 0">
                    <table class="table table-striped" id="{{vm.cardsTableId}}">
                        <thead>
                            <tr>
                                <th>Pic</th>
                                <th>Name</th>
                                <th>Mana</th>
                                <th>Type</th>
                                <th>P</th>
                                <th>T</th>
                                <th>Rarity</th>
                                <th>Text</th>
                                <th>Set</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="card in vm.filteredCards track by $index">
                                <td>
                                    <button ng-disabled="card.multiverseid == undefined" ng-show="!card.showImage && !vm.showImages" type="button" class="btn btn-default btn-xs" ng-click="card.showImage = !card.ShowImage" tooltip="Show Image">
                                        <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                                    </button>
                                    <div ng-if="card.showImage || vm.showImages">
                                        <a href="#" ng-click="$event.preventDefault()" popover-template="'imagePopoverTemplate.html'" popover-trigger="focus">
                                            <img ng-src="{{vm.imageApiUrl}}?multiverseid={{card.multiverseid}}&type=card" alt="?" />
                                        </a>
                                    </div>
                                    <script type="text/ng-template" id="imagePopoverTemplate.html">
                                        <a class="btn btn-default btn-xs" href="{{vm.imageApiUrl}}?multiverseid={{card.multiverseid}}&type=card" target="_blank" tooltip="Show full-sized">
                                            <span class="glyphicon glyphicon-fullscreen"></span>
                                        </a>
                                        <button type="button" class="btn btn-xs btn-danger" ng-click="card.showImage = false" tooltip="Hide">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </script>
                                </td>
                                <td>{{card.name}}</td>
                                <td class="text-nowrap">
                                    <span hidden>{{card.cmc}}</span>
                                    <span ng-bind-html="card.manaCost | mtgSymbols"></span>
                                </td>
                                <td style="overflow: hidden; text-overflow: ellipsis; white-space:nowrap; max-width:400px">{{card._type}}</td>
                                <td style="width:1px">{{card.power}}</td>
                                <td style="width:1px">{{card.toughness}}</td>
                                <td>{{card.rarity}}</td>
                                <td><span ng-bind-html="card.text | newLines | mtgSymbols"></span></td>
                                <td style="width:1px">
                                    <span hidden>{{card._set.releaseDate}}</span>
                                    <a href="http://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid={{card.multiverseid}}" target="_blank">
                                        <img ng-src="{{vm.imageApiUrl}}?type=symbol&set={{card._set.gathererCode || card._set.code}}&size=small" alt="?" tooltip="{{card._set.name}}, released {{card._set.releaseDate}}" />
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
